html {
  scroll-behavior: smooth;
}

body{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	background:#000910;
	font-family: 'Inter', sans-serif;
	color:#9bd4ed;
	/*linear-gradient(90deg, #333333,#3f4e59);*/
}

#main_title{
	font-family: 'Gantari';
	font-size: 6rem;
	text-align:center;
	color:#72a3d6;
	/*background-color: rgba(130,125,140,0.88);*/
	margin-top:0px;
	padding-top:0px;
}



.firstflex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content: space-around;
	margin-left: auto;
	margin-right: auto;
	object-fit: cover;
	margin:40px 30px 20px 30px;
}

.flexItem1{
	margin: auto;
	max-width: 40vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1 450px;
}

img{
	opacity:0.87;
}

.flexItem2{
	margin: auto;
	min-width: 60vw;
	flex: 2 450px;
}

.flexbox{
	margin: 0px 20px 15px 40px;
}


#faceimage{
	border-radius:20%;
	box-shadow: 5px 5px 25px #000000;/**/
	max-width:450px;
	/*max-height:300px;*/
}



.imagecontainer{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 70vw; /*any size*/
	height: 45vw; /*any size*/
	text-align:center;
}

.object-fit-cover {
	width: 100%;
	height: 100%;
	object-fit: cover; /*magic*/
	border-radius: 10%;
  }

.imagecontainerr{
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 20rem; /*any size*/
	text-align:center;
}



p1{
	display:block;
	margin:15px 20px 30px 20px;
	font-family: 'Inter', sans-serif;
	font-size:24px;
	color:rgb(166, 205, 239);
}

a{	
	font-family: 'Inter', sans-serif;
	color:#9bd4ed;
}

h1{
	margin-top:10px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:25px;
	font-family: 'Lobster Two', cursive;
	font-size:38px;
	color:#72a3d6;
}

h2{
	margin-top:25px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:25px;
	font-family: 'Lobster Two', cursive;
	font-size:30px;
	color:#72a3d6;
}


#presentation_wrapper{
	/*background-color: #333333;linear-gradient(90deg, rgb(146, 164, 168) , rgb(134, 155, 160)); */
	background-size: cover;
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	z-index:3;
}


.years{
	background:linear-gradient(90deg, #2b6881,#335a76);
	font-family: 'Gantari';
	font-size: 3rem;
	text-align:center;
	color:#72a3d6;
	position:sticky;
	height:100%;
	width:100vw;
	top:-1px;
}

#year2023{
	z-index:1;
}

#year2022{
	position:sticky;
	z-index:2;
}

#year2021{
	z-index:3;
}


.socialMediaContainer{
	height:100%;
	width:100%;
	top:-1px;
}


.socialMediaContainer ul{
	height:45px;
	margin:0;
	display:flex;
	align-items:center;
	padding: 0;
	justify-content:space-around;
	list-style:none;
}

.socialMediaContainer ul li{
	color:white;
	font-weight:bold;
	font-size:14px;
	text-decoration:none;
	text-transform:uppercase;
}

.socialMediaContainer ul li:hover{
	cursor: pointer;
	font-size:20px;
	position:inherit;
}

.body_wrapper{
	margin: 0px;
}


#contact{
	margin-top:15px;
	font-size: 12px;
}

footer{
	margin-top:auto;
	margin-bottom:20px;
	text-align: center;

}







@media screen and (max-width: 750px) {

	html{
    width:100%;
    overflow-x:hidden;
	}

	#main_title{
		font-family: 'Gantari';
		font-size: 2rem;
		text-align:center;
		color:#72a3d6;
		/*background-color: rgba(130,125,140,0.88);*/
		margin-top:15px;
		padding-top:0px;
	}

	.firstflex{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: space-around;
		justify-content: stretch;
		margin-left: auto;
		margin-right: auto;
		object-fit: cover;
		margin:20px 15px 15px 15px;
	}

	.flexItem1{
		margin: auto;
		max-width: 50vw;
	}

	h1{
		margin-top:20px;
		margin-left:15px;
		margin-bottom:25px;
		font-family: 'Gantari', cursive;
		font-size:24px;
	}

	h2{
		margin-top:15px;
		margin-left:15px;
		margin-bottom:20px;
		font-family: 'Gantari', cursive;
		font-size:20px;
	}
	
	p1{
		display:block;
		margin:15px 20px 30px 20px;
		font-family: 'Inter', sans-serif;
		font-size:16px;
		color:rgb(166, 205, 239);
	}
	

	#presentation_wrapper p1 {
		font-size:16px;
	}

	#faceimage{
		border-radius:20%;
		box-shadow: 5px 5px 25px #000000;/**/
		max-width: 350px;
		/*max-height:300px;*/
	}

	.years{
		background:linear-gradient(90deg, #2b6881,#335a76);
		font-family: 'Gantari';
		font-size: 2rem;
		text-align:center;
		color:#72a3d6;
		position:sticky;
		height:100%;
		width:100vw;
		top:-1px;
	}
	
	/*
	* {
	  background: #000 !important;
	  color: #0f0 !important;
	  outline: solid #f00 1px !important;
	}
	*//*FOR DEBUGGING*/
}
